<tr>
  <td style="padding-bottom: 10px">
    <h2 style="font-size: 16px"><%= subject %></h2>
  </td>
</tr>
<tr>
  <td style="padding-bottom: 15px">
    An Application is awaiting your review/approval, See details below:
  </td>
</tr>
<tr>
  <td style="padding-bottom: 5px">
    <p style="font-weight: bold; padding:5px 0; margin: 0">
      Date Assigned
    </p>
    <p style="padding: 0; margin: 0">
      <%= dateAssigned %>
    </p>
  </td>
</tr>
<tr>
  <td style="padding-bottom: 5px">
    <p style="font-weight: bold; padding:5px 0; margin: 0">
       Stage
    </p>
    <p style="padding: 0; margin: 0">
      <%= task %>
    </p>
  </td>
</tr>
<tr>
  <td style="padding-bottom: 5px">
    <p style="font-weight: bold; padding:5px 0; margin: 0">
      Company
    </p>
    <p style="padding: 0; margin: 0">
      <%= company %>
    </p>
  </td>
</tr>
<tr>
  <td style="padding-bottom: 5px">
    <p style="font-weight: bold; padding:5px 0; margin: 0">
      Application
    </p>
    <p style="padding: 0; margin: 0">
      <%= appNumber %>
    </p>
  </td>
</tr>

<!--<tr>
  <td style="padding: 10px;">
    Login to your NCDMB Account to review/approve the application.
  </td>
</tr>

<tr>
  <td>Thank You.</td>
</tr>-->
