<tr>
    <td style="padding-bottom: 10px">
        <h2 style="font-size: 16px"><%= subject %></h2>
    </td>
</tr>

<tr>
    <td style="padding-bottom: 10px">
        Dear <%= company %>,
    </td>
</tr>

<tr>
    <td style="padding-bottom: 10px">
        Your Application (<%= appNumber %>) was returned.
    </td>
</tr>

<tr>
    <td style="padding-bottom: 10px">
        kindly login to your company account to review and resubmit the Application.
    </td>
</tr>

<tr>
    <td style="padding-bottom: 1px">Reason</td>
</tr>

<tr>
    <td style="padding-bottom: 10px">
        <%- comment %>
    </td>
</tr>

<tr>
    <td style="padding-bottom: 1px">
        Contact details:
    </td>
</tr>

<tr>
    <td>email: <%= supportEmail %></td>
</tr>

